server {
    listen 8080;

    location / {
        proxy_pass http://homework-app:5173; # 假设前端容器的名字是"homework-app"，并且服务运行在5173端口
    }

    location /api/ {
        rewrite ^/api(/.*)$ $1 break;
        proxy_pass http://homework-api:8000; # 假设后端API容器的名字是"homework-api"，并且服务运行在8000端口
    }
}
